# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

outputs/
models/saved_models/
*.pt
*.pth

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

.vscode/
